body{
	background-color: rgb(255,212,203);
}

h1{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
	color: red ;
	text-shadow:  0 0 12px blue, 0 0 13px hotpink;
}

.steps{
	width:100%;
	margin-left: 100px;
	margin-bottom: 46px;
}

.container{
	border: 2px solid #f1f;
}

input{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.radix{
	font-weight: bolder;
}

u{
	font-size: 24px;
	font-weight: bolder;
	color: royalblue;
}

#input{
	font-weight: bolder;
	border-right: 3px solid hotpink;
	color: maroon;
}

#output{
	font-weight: bolder;
	margin-left: 10px;
	color: darkred;
}

.navbar{
	width: 100%;
	overflow: auto;
}

.navbar a{
	float: left;
	padding: 12px;
	color: #D8E4FC;
	text-decoration: none;
	font-size: 18px;
	width:19.999%; 
	font-weight: bold;
	background-color: #121F32;
}

.navbar a:hover{
	color: #121F32;
	background-color: #D8E4FC; 
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #D8E4FC;
	background-color: #121F32;
	font-weight: 600;
}