<!DOCTYPE>
<html>
	<head>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Font Case Converter | Util Tools</title>

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="	sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<!-- /BOOTSTRAP -->

		<link rel="stylesheet" type="text/css" href="./CaseConvert.css">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

		<script type="text/javascript" src="./CaseConverterModule.js"></script>
		<script type="text/javascript" src="./CaseConverterController.js"></script>
		<script type="text/javascript" src="./CaseConverterServices.js"></script>
		<script type="text/javascript" src="./CaseConverterFilter.js"></script>

	</head>
		
		<body ng-app="caseconvert">

			<div class="navbar">
				<a href="Home.html">Home</a>
				<a href="CaseConvert.html">Font Case Converter</a>
				<a href="BaseConvert.html">Base/Radix Converter</a>
				<a href="ExpressionSolver.html">Expression Solver</a>
				<a href="Contacts.html">Contact Us</a>
			</div>

			<h2>Font Case Converter</h2>

			<h4>Just type in your text in the box on the left and choose font case to convert to from dropdown to get started .</h4>

			<div ng-controller="casectrl">
				<center>
					<button class="btn btn-danger" style="font-weight:bold;border-radius:16px" ng-click="text=''">Clear All</button>
				Select Case : 
				<select style="background-color:lightgreen" ng-model="case" ng-options = "x.value for x in cases">
				<!-- <option ng-repeat="key in cases">{{key}}</option> -->
				</select></center>
				<div class='container'>
  					<div class='row'>
	  					<div style="border-right:3px dotted darkgreen" class='col-6 mx-auto'>
									<span>Enter Text : </span><br>
									<textarea ng-model="text"></textarea> <br>
								</div>
								<div class='col-6 mx-auto'>
									
									<span>Formatted Text : </span><br>
									<div ng-switch="case.key">
										<div ng-switch-when="uppercase">
											<textarea readonly>{{text | uppercase}}</textarea>
										</div>
										<div ng-switch-when="lowercase">
											<textarea readonly>{{text | lowercase}}</textarea>
										</div>
										<div ng-switch-when="titlecase">
											<textarea  readonly>{{text | titlecase}}</textarea>
										</div>
										<div ng-switch-when="sentencecase">
											<textarea readonly>{{text | sentencecase}}</textarea>
										</div>
										<div ng-switch-when="togglecase">
											<textarea readonly>{{text | togglecase}}</textarea>
										</div>
										<div ng-switch-default>
											<textarea readonly>{{text}}</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>

			<div class="footer">
				<p><em>gust</em> Copyright 2021</p>
			</div>
		</body>
</html>