<!DOCTYPE>
<html>
	<head>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Expression Solver | Util Tools</title>

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="	sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<!-- /BOOTSTRAP -->

		<link rel="stylesheet" type="text/css" href="./ExpressionSolver.css">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		
		<script type="text/javascript" src="./ExpressionSolverModule.js"></script>
		<script type="text/javascript" src="ExpressionSolverController.js"></script>

	</head>
	
		<body ng-app="expsolver">
			<div class="navbar">
				<a href="index.html">Home</a>
				<a href="CaseConvert.html">Font Case Converter</a>
				<a href="BaseConvert.html">Base/Radix Converter</a>
				<a href="ExpressionSolver.html">Expression Solver</a>
				<a href="Contacts.html">Contact Us</a>
			</div>
			<h2>Expression Solver</h2>
			<div class="container">
				<u style="color:darkred">Documentation</u> :
				<ul>
					<li>Write expression in the box and get the result .</li>
					<li>Don't forget to place brackets correctly to get accurate result .<br>
					Only '( )' bracket supported .</li>
					<li>You can select <i>use custom variables</i> to define your own variable for expression .</li>
					<li>Only for solving simple arithmetic expression with following operators :<br>
					+(add), -(subtract), *(multiply), /(divide) and %(modulas/remainder).</li>
					<li>For X to the power n operation use X**n .</li>
					<li>For nth root of X operation use X**(1/n) .</li>
					<li>Get result in desired base y setting base value to the base of desired number system (default = 10 Decimal Number System) .</li>
				</ul>
			</div>

			<div ng-controller="myExpCtrl" style="padding:10px">
				<p><b>Expression : </b><input style="width:80%; height:30px; font-weight:bold;font-size:20px" 	type="text" ng-model="exp">
					<strong>Base : </strong><input type="number" min="2" max="36" style="width:5%; font-weight:bold;font-size:20px"
						ng-model="base">
				</p>

				<p><input type="checkbox" ng-model="customInput"><b><i>Use custom variables</i></b></p>
				<div class="tip" ng-show="customInput">
					<strong id="info" >&#8505 </strong>
					<span class="tiptext"><p>
						Declare your own variable in the text box below seperated by ' ; ' .
						Eg:- a=10;b=20;
						<li>Variables must be single letter. Eg: a=10 (valid) bc=20(not valid)</li>
						<li>Variable must start with letter and can have numeric after that . Eg:- a1=10 (valid) 2b=20(not valid)</li>
						<li>Variables should not contain special characters. Eg:- $a , _b , c_ , so on (not valid)</li>
					</p></span>
				</div>
				<textarea ng-model="variables" ng-show="customInput"></textarea>
				<h3 style="color:{{errColor}}">{{resultOrError}} : {{evaluate()}}</h3>
			</div>

			<div class="footer">
				<p style="color:#D8E4FC"><em>gust</em> Copyright 2021</p>
			</div>
		</body>
</html>