<!DOCTYPE>
<html>
	<head>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Home | Util Tools</title>

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="	sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<!-- /BOOTSTRAP -->

		<link rel="stylesheet" href="./Home.css">


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

	</head>

		<body>
			<h3 style="width:100%; color:navajowhite; background-color:black; text-align:center">#Black Lives Matter</h3>
			<h1>Util Tools</h1>
			<div class="container" ng-app="" ng-init="fname='', lname=''">
				<p>
					First Name : <input type="text" name="firstname" ng-model="fname" required> <br>
					Last Name : <input type="text" name="lastname" ng-model="lname" required>
				</p>
				<p>
					Hello {{fname}} {{lname}} ,<br>
					We know that there are some tasks that takes a lot of your effort and your time too, like : <br>
					<ul>
						<li>Conversion of text font cases .</li>
						<li>Conversion of number systems manually .</li>
						<li>Solving arithmetic expressions using simple calculator .</li>
					</ul>
					<b>No more of these tedious tasks, we're here to help . <br>
					We got you covered with some cool tools that we're providing here .</b>
					<ol>
						<li><em><u>Font Case Converter</u></em> - Easily converts font case from one to another .</li>
						<li><em><u>Base/Radix Converter</u></em> - Enter value change the base and you get the result .</li>
						<li><em><u>Expression Solver</u></em> - Not a calculator, type your Expression to easily get answer .</li>
					</ol>
					<b>Select any of the available tools below to get started .
					You can also <a href="Contacts.html"><i>Contact Us</i></a> to give us your valuable feedbacks and suggestions .</b>
				</p>
			</div>
			<div class="navbar">
				<a href="CaseConvert.html">Font Case Converter</a>
				<a href="BaseConvert.html">Base/Radix Converter</a>
				<a href="ExpressionSolver.html">Expression Solver</a>
			</div>
			<div class="footer">
				<p><i>gust</i> Copyright 2021</p>
			</div>
		</body>
</html>